@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

$special-gray: rgb(25, 25, 25) !important;
$special-gray2: rgb(82, 82, 82) !important;

body{
    font-family: Roboto, monospace;
    color: lightgray !important;
    background-color: $special-gray2;
    padding: 0.5rem;
}

#impostazioni{
    border-bottom: 1px solid lightgray;
}

#bg-secondar, #btn-secondar{
    background-color: $special-gray !important;

}


#menu{
    
    background-color: $special-gray ;
    border-color: $special-gray2 ;
    color: lightgray ;
}



#first-card{
    height: 30rem !important;
    padding-left: 5rem;
    width: 1rem !important;
    p, a, h5 {
        object-fit: contain;
    }
}



#buonasera{
    height: 5rem !important;
}


#first-card