body {
  background-color: none;
  background-image: none;
  background-attachment: fixed;
  background-size: cover;
  font-family: none;
  z-index: 1;
}

a {
  color: white;
  text-decoration: none;
}
