.player-buttons a{
    padding:15px;
    scale:150%;
}

.player-buttons a:hover{
    
}

.player-button-play{
    scale:150%;
    background-color:none;
    color:none;
    
}

.player-button-play a:hover{
     scale: 160% !important;
}