@import "./variables";

.amici {
  font-weight: bold;
  color: #a5acb8;
}

.amici:hover {
  color: #fdfdfd;
}

.containerSymbols {
  color: #a5acb8;
}

.imgCard {
  width: 100%;
  border-radius: 30px;
}

.container-friends {
  display: flex;
}