//ALBUM PAGE BUTTONS//

#artist_page_play_button {
  background-color: #1ed760;
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
}

#artist_page_play_button:hover {
  background-color: #1fdf64;
  scale: 105%;
}

#artist_page_save_button {
  background-color: #000000;
  color: white;
  border: 1px solid white;
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
}

#artist_page_save_button:hover {
  scale: 105%;
}

#artist_page_3points_button {
  background-color: rgba(255, 255, 255, 0);
  color: grey;
  padding: 10px 30px 10px 30px;
  border: none;
  font-size: 25px;
  letter-spacing: 4px;
}

#artist_page_3points_button:hover {
  color: white;
  scale: 105%;
}

//ALBUM PAGE NAV//
.nav-item a {
  color: "white";
}

.nav-link img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

nav span {
  flex-direction: row;
  flex-wrap: nowrap;
}

#album_page_pill {
  background-color: rgba(0, 0, 0, 0.565);
  border: solid 1px black;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  text-transform: capitalize;
  font-size: 11pt;
}
#album_page_pill img {
  width: 30px;
  height: 30px;
}

//ALBUM PAGE HEAD//
.album_pg_header {
  background-color: rgba(0, 0, 0, 0.29);
}

.album_page_head_text {
  color: white;
  padding: 30px;
}

.album_page_head_text h1 {
  font-size: 72px;
  text-transform: capitalize;
}

.album_page_head_text h5 {
  font-size: 18px;
}

.album_page_head_text h6 {
  font-size: 16px;
  text-transform: uppercase;
}

//ALBUM PAGE BUONASERA SECTION//
#buonasera_section {
  color: white;
}

#buonasera_section h3 {
  color: white;
  font-size: 24px;
}

#buonasera_card {
  background-color: #2d2d2d;
  border-radius: 5px;
  max-width: 350px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: flex-start;
  cursor: pointer;
  text-transform: capitalize;
}
#buonasera_card img {
  width: 90px;
  height: 90px;
  position: relative;
  right: 12px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#buonasera_card:hover {
  background-color: #414141;
  border-radius: 5px;
  max-width: 350px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: flex-start;
  cursor: pointer;
  transition: all 0.5s ease;
}

//ALBUM PAGE ALTRO DI CIO' CHE TI PIACE SECTION//

#altro_section {
}

#altro_section h3 {
  color: white;
  font-size: 20px;
}
