@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif, monospace;
  color: #b8bfce;
  background-color: rgb(15, 14, 14) !important;
}

a {
  color: white;
  text-decoration: none;
}

#impostazioni {
  border-bottom: 1px solid lightgray;
}

#bg-secondar,
#btn-secondar {
  background-color: rgb(15, 14, 14) !important !important;
}

#menu {
  background-color: rgb(15, 14, 14) !important;
  border-color: rgb(82, 82, 82) !important;
  color: lightgray;
}

#first-card {
  height: 30rem !important;
  padding-left: 5rem;
  width: 1rem !important;
}
#first-card p,
#first-card a,
#first-card h5 {
  -o-object-fit: contain;
     object-fit: contain;
}

#buonasera {
  height: 5rem !important;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*

.page-wrapper {
  height: 100vh;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}

/*----------------toggeled sidebar----------------*/
.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
  }
}
/*----------------sidebar-wrapper----------------*/
.sidebar-wrapper {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/
.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/
.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}

/*--------------------sidebar-header----------------------*/
.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
  float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
  display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/
.sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/
.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  -webkit-animation: swing ease-in-out 0.5s 1 alternate;
          animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

/*
.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
  transform: rotate(90deg);
  right: 17px;
}

/*--------------------------side-footer------------------------------*/
/*
.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer>a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer>a .notification {
  position: absolute;
  top: 0;
}

/*.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}


/*--------------------------page-content-----------------------------*/
.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.page-wrapper .page-content > div {
  padding: 20px 40px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}

/*------scroll bar---------------------*/
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525965;
}

::-webkit-scrollbar-thumb:active {
  background: #525965;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*-----------------------------chiller-theme-------------------------------------------------*/
.chiller-theme .sidebar-wrapper {
  background: #000000;
}

/*
.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,*/
.chiller-theme .sidebar-wrapper .pippo {
  border-top: 1px solid #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  border-color: transparent;
  box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand > a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer > a {
  color: #b8bfce;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover > a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand > a:hover,
.chiller-theme .sidebar-footer > a:hover i {
  color: #fdfdfd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
  color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
  color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
  color: #16c7ff;
  text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a #square,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background: #a5acb8;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a #square {
  color: #282c33;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a #square:hover {
  color: #16c7ff;
  text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a #squareGradient {
  background: rgb(208, 230, 255);
  background: linear-gradient(304deg, rgb(208, 230, 255) 0%, rgb(76, 45, 253) 75%);
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #6c7b88;
}

.chiller-theme .sidebar-footer {
  background: #3a3f48;
  box-shadow: 0px -1px 5px #282c33;
  border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer > a:first-child {
  border-left: none;
}

.chiller-theme .sidebar-footer > a:last-child {
  border-right: none;
}

#SidebarDX {
  position: fixed;
  height: 100%;
  max-height: 100%;
  top: 0;
  right: 0;
}

.amici {
  font-weight: bold;
  color: #a5acb8;
}

.amici:hover {
  color: #fdfdfd;
}

.containerSymbols {
  color: #a5acb8;
}

.imgCard {
  width: 30px;
  border-radius: 30px;
}

.container-friends {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h2 {
  font-size: 1em;
  color: #a5acb8;
}

h3 {
  font-size: 0.7em;
  color: #a5acb8;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
}

.col-bg {
  background-color: #181818;
  border-top: 1px solid black;
}

.player-buttons a {
  padding: 15px;
  scale: 150%;
  color: #bababa;
}

.player-buttons a:hover {
  color: white;
}

.player-button-play {
  width: 200px;
  color: white;
}

.player-button-play a:hover {
  scale: 160%;
}

.player-progress-bar {
  display: flex;
  color: grey;
  height: 5px;
  position: relative;
  top: 10px;
  padding: 1px;
  cursor: pointer;
}

.player-buttons-right a {
  padding: 10px;
  scale: 110%;
  color: #bababa;
}

.player-buttons-right a:hover {
  color: white;
}

.player-volume-bar {
  display: flex;
  color: grey;
  height: 5px;
  width: 40px;
  position: relative;
  top: 10px;
  padding: 1px;
  cursor: pointer;
}

#player_left_img {
  width: 60px;
  height: 60px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#player_left_text {
  display: flex;
  margin-top: 10px;
  position: relative;
  right: 20px;
  top: 5px;
}

#player_left_text_li {
  display: flex;
  text-decoration: none;
}

#player_left_text_li h5 {
  text-transform: capitalize;
  font-size: 12pt;
}

#player_left_text_li h6 {
  color: #929292;
  text-transform: capitalize;
  font-size: 8pt;
  font-weight: 100;
}

#player_left_text_li h5:hover {
  text-decoration: underline;
}

#player_left_text_li h6:hover {
  color: white;
  text-decoration: underline;
}

#player_left_icon {
  margin-left: 50px;
}

#player_right_items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}

#container_nav_header {
  background-color: rgba(255, 0, 255, 0.459);
}

.nav-item a {
  color: "white";
}

.nav-link img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

nav span {
  flex-direction: row;
  flex-wrap: nowrap;
}

#album_page_pill {
  background-color: rgba(0, 0, 0, 0.565);
  border: solid 1px black;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-transform: capitalize;
  font-size: 11pt;
}

#album_page_pill img {
  width: 30px;
  height: 30px;
}

.album_pg_header {
  display: flex;
  padding: 30px;
  text-transform: capitalize;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
}

#album_pg_header_img {
  width: 250px;
  height: 250px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4666666667);
}

.album_page_header_text_box {
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50px;
}

#album_page_header_album_word {
  font-size: 10pt;
  text-transform: uppercase;
}

#album_page_header_song_title {
  font-size: 60pt;
}

#album_page_header_last_row {
  list-style-type: none;
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  right: 30px;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
}

#album_page_header_last_row img {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  position: relative;
  bottom: 6px;
}

#album_page_header_song_author {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 12pt;
  font-weight: bold;
}

#album_page_header_song_year {
  padding-left: 3px;
  padding-right: 3px;
  font-weight: lighter;
  font-size: 12pt;
}

#album_page_header_song_number_of_tracks {
  padding-left: 3px;
  padding-right: 3px;
  font-weight: lighter;
  font-size: 12pt;
}

#album_page_header_song_album_length {
  padding-left: 3px;
  padding-right: 3px;
  font-weight: lighter;
  font-size: 12pt;
  color: rgba(255, 255, 255, 0.504);
}

#album_page_middle_buttons {
  list-style-type: none;
  display: flex;
  padding: 30px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

#album_page_play_button {
  background-color: #1ed760;
  border-radius: 50%;
  scale: 160%;
  margin-right: 20px;
}

#album_page_play_button:hover {
  scale: 170%;
}

#album_page_heart_button {
  background-color: rgba(45, 45, 45, 0);
  color: #b7bbc0;
  border: none;
  scale: 160%;
  margin-right: 20px;
}

#album_page_heart_button:hover {
  color: white;
}

#album_page_download_button {
  background-color: rgba(45, 45, 45, 0);
  color: #b7bbc0;
  border: none;
  scale: 160%;
  margin-right: 20px;
}

#album_page_download_button:hover {
  color: white;
}

#album_page_3points_button {
  background-color: rgba(45, 45, 45, 0);
  color: #b7bbc0;
  border: none;
  scale: 160%;
}

#album_page_3points_button:hover {
  color: white;
}

.artist {
  width: 100%;
  height: 96%;
  overflow-y: scroll;
}
.artist__header {
  width: 100%;
  height: 338px;
  border-bottom: 1px solid rgb(20, 20, 20);
  position: relative;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/spotify_img_bground.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.artist__header:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.15;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/g-eazy.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.artist__header .artist__info {
  padding: 15px;
  z-index: 1;
  width: 80%;
  margin-top: 78px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}
.artist__header .artist__info .profile__img {
  margin-right: 15px;
}
.artist__header .artist__info .profile__img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.artist__header .artist__info__type {
  color: rgb(170, 170, 170);
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
}
.artist__header .artist__info__name {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 100;
  padding: 0 0 10px 0;
}
.artist__header .artist__info__actions {
  display: flex;
  flex-flow: row wrap;
}
.artist__header .artist__info__actions button {
  margin-right: 10px;
  height: 27px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 15px;
  font-weight: 500;
}
.artist__header .artist__info__actions button i {
  font-size: 20px;
  margin-right: 5px;
}
.artist__header .artist__info__actions .more {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
}
.artist__header .artist__info__actions .more i {
  margin: 0;
  padding-left: 6px;
}
.artist__header .artist__listeners {
  width: 20%;
  z-index: 1;
  padding: 15px;
  text-align: right;
  color: rgb(170, 170, 170);
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 1px;
}
.artist__header .artist__listeners__label {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
.artist__header .artist__navigation {
  width: 100%;
  z-index: 1;
  background: rgba(24, 24, 24, 0.6);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.artist__header .artist__navigation ul {
  border: none;
}
.artist__header .artist__navigation ul li {
  padding: 0 15px;
}
.artist__header .artist__navigation ul li a {
  padding: 15px 0;
  color: rgb(170, 170, 170);
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s ease;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}
.artist__header .artist__navigation ul li a:hover {
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  transition: all 0.4s ease;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}
.artist__header .artist__navigation ul li.active a {
  color: rgb(255, 255, 255);
  background: none;
  border: none;
  border-bottom: 4px solid rgb(30, 215, 96);
}
.artist__header .artist__navigation ul li.active a:hover {
  border-bottom: 4px solid rgb(30, 215, 96);
}
.artist__header .artist__navigation__friends {
  padding: 15px;
}
.artist__header .artist__navigation__friends img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
}
.artist__header .artist__navigation__friends .tooltip {
  z-index: 1;
  position: absolute;
}
.artist.is-verified .profile__img {
  position: relative;
}
.artist.is-verified .profile__img:after {
  font-family: "Ionicons";
  content: "\f3fd";
  position: absolute;
  bottom: 5px;
  right: 25px;
  color: rgb(255, 255, 255);
  background: #4688d7;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 1;
}
.artist__content {
  padding: 15px;
}
.artist__content .overview {
  display: flex;
  flex-flow: row wrap;
}
.artist__content .overview__artist {
  padding-right: 15px;
  width: 70%;
}
.artist__content .overview__artist .latest-release {
  margin-bottom: 30px;
  display: flex;
  flex-flow: row wrap;
}
.artist__content .overview__artist .latest-release__art {
  width: 75px;
}
.artist__content .overview__artist .latest-release__art img {
  width: 75px;
  height: 75px;
}
.artist__content .overview__artist .latest-release__song {
  width: calc(100% - 75px);
  padding: 10px 15px;
  background: rgb(20, 20, 20);
  color: rgb(170, 170, 170);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.artist__content .overview__artist .latest-release__song__title {
  color: rgb(200, 200, 200);
}
.artist__content .overview__related {
  width: 30%;
}
@media (max-width: 1024px) {
  .artist__content .overview__artist {
    width: 100%;
  }
  .artist__content .overview__related {
    width: 100%;
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .artist__content .overview__artist {
    padding-right: 0;
  }
}

.tracks {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 15px;
}
.tracks__heading {
  color: rgb(170, 170, 170);
  height: 42px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.tracks__heading__number {
  margin-left: 10px;
  font-style: italic;
}
.tracks__heading__title {
  margin-left: 70px;
  width: 45%;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.tracks__heading__length {
  margin-left: auto;
  font-size: 20px;
}
.tracks__heading__popularity {
  font-size: 20px;
  margin-left: 55px;
  padding-right: 10px;
}
.tracks .track {
  border-top: 1px solid rgb(20, 20, 20);
  height: 42px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.tracks .track:hover {
  background: rgb(20, 20, 20);
}
.tracks .track:last-child {
  border-bottom: 1px solid rgb(20, 20, 20);
}
.tracks .track__art img {
  width: 42px;
  height: 42px;
}
.tracks .track__number {
  margin-left: 10px;
  color: rgb(170, 170, 170);
  width: 12px;
}
.tracks .track__added {
  margin-left: 30px;
  color: rgb(200, 200, 200);
}
.tracks .track__added .added {
  color: rgb(200, 200, 200);
}
.tracks .track__added .not-added {
  color: rgb(170, 170, 170);
}
.tracks .track__title {
  width: 45%;
  margin-left: 30px;
  color: rgb(255, 255, 255);
}
.tracks .track__title.featured .title:after {
  content: "-";
  margin: 0 5px;
}
.tracks .track__title.featured .feature {
  color: rgb(170, 170, 170);
}
.tracks .track__title.featured .feature:after {
  content: ",";
  margin-right: 5px;
}
.tracks .track__title.featured .feature:last-child:after {
  content: "";
  margin-right: 0;
}
.tracks .track__title.featured .feature:hover {
  cursor: pointer;
  color: rgb(200, 200, 200);
  text-decoration: underline;
}
.tracks .track__explicit .label {
  border: 1px;
  border-style: solid;
  border-color: #2e2e2e;
  color: #2e2e2e;
  text-transform: uppercase;
}
.tracks .track__plays {
  color: rgb(170, 170, 170);
  margin-left: auto;
  padding-right: 10px;
}
.tracks .track__length {
  margin-left: auto;
  color: rgb(170, 170, 170);
}
.tracks .track__popularity {
  margin-left: 46px;
  padding-right: 10px;
  font-size: 20px;
  color: rgb(170, 170, 170);
}

.related-artists {
  display: flex;
  flex-flow: column wrap;
}
.related-artists .related-artist {
  background: rgb(20, 20, 20);
  padding: 5px;
  margin-bottom: 2px;
}
.related-artists .related-artist:hover {
  background: #232323;
  text-decoration: none;
}
.related-artists .related-artist__img img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.related-artists .related-artist__name {
  margin-left: 15px;
  color: rgb(255, 255, 255);
}

.overview__albums {
  width: 100%;
  margin-top: 30px;
}
.overview__albums__head {
  border-bottom: 1px solid rgb(20, 20, 20);
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.overview__albums__head .view-type {
  color: rgb(255, 255, 255);
  margin-bottom: 4px;
}
.overview__albums__head .view-type .active {
  background: rgb(20, 20, 20);
  padding: 8px;
  border-radius: 50%;
}
.overview__albums__head .view-type i {
  padding: 8px;
  border-radius: 50%;
}
.overview__albums__head .view-type i:hover {
  padding: 8px;
  border-radius: 50%;
  background: #212121;
  cursor: pointer;
}

.album__info {
  margin-bottom: 15px;
  display: flex;
  flex-flow: row wrap;
}
.album__info__art img {
  width: 135px;
  height: 135px;
}
.album__info__meta {
  width: calc(100% - 150px);
  margin-left: 15px;
  display: flex;
  flex-flow: column wrap;
}
.album__info__meta .album__year {
  color: rgb(170, 170, 170);
  letter-spacing: 1px;
}
.album__info__meta .album__name {
  color: rgb(255, 255, 255);
  font-weight: 100;
}
.album__info__meta .album__actions {
  margin-top: auto;
}
.album__info__meta .album__actions .save {
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 10px;
}
.album__info__meta .album__actions .save:hover {
  border-color: rgb(30, 215, 96);
}
.album__info__meta .album__actions .more {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
}
.album .track__title {
  width: 70%;
}

#altro_section h3 {
  color: white;
  font-size: 24px;
}

#altro_card {
  background-color: #2d2d2d;
  border-radius: 5px;
  width: 225px;
  min-height: 3px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  cursor: pointer;
  text-transform: capitalize;
}

#altro_card img {
  width: 200px;
  height: 200px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 15px;
}

#altro_card:hover {
  background-color: #414141;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: flex-start;
  cursor: pointer;
  transition: all 0.5s ease;
}

#altro_card h4 {
  color: white;
  font-size: 18px;
}

#altro_card h5 {
  font-size: 14px;
}

#container-music {
  margin-bottom: 130px !important;
}/*# sourceMappingURL=style.css.map */