@import "./variables";

#SidebarDX {
  
  position: fixed;
  height: 100%;
  max-height: 100%;
  top: 0;
  right: 0;
 

}

.amici {
  font-weight: bold;
  color: #a5acb8;
}

.amici:hover {
  color: #fdfdfd;
}

.containerSymbols {
  color: #a5acb8;
}

.imgCard {
  width: 30px;
  border-radius: 30px;
}

.container-friends {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h2 {
  font-size: 1em;
  color: #a5acb8;
}

h3 {
  font-size: 0.7em;
  color: #a5acb8;
}